.app-button {
  border-radius: 8px !important;
  border: none !important;
  padding: 12px 32px !important;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  transition: var(--transition) !important;

  background-color: var(--primary) !important;
  color:white;

  &:hover{
    background-color: var(--secondary) !important;
  }
}
.lr-button {
  width: 100%;

}
