<div class="page-content">
  <div class="container">
    <div class="page-header">
      <h1>Payment</h1>
      <p>Complete your purchase securely</p>
    </div>

    <div class="cart-summary">
      <!-- Stripe Card Element -->
      <div id="card-element" class="card-container"></div>

      <button class="btn" (click)="pay()" [disabled]="loading">
        <i class="fas fa-lock"></i> Pay
      </button>

      <!-- Poruka uspjeha ili errora -->
      <div *ngIf="message" class="message">
        {{ message }}
      </div>


      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
