<div class="star-rating" [class.readonly]="readonly">
  <span
    *ngFor="let star of stars"
    class="star"
    [class.filled]="star <= displayRating"
    [class.hovered]="!readonly && star <= hoverRating"
    (mouseenter)="onHover(star)"
    (mouseleave)="onHoverLeave()"
    (click)="onSelect(star)"
    [attr.aria-label]="'Rate ' + star + ' out of 5'"
    [attr.role]="readonly ? null : 'button'"
    [attr.tabindex]="readonly ? null : 0"
    (keydown.enter)="onSelect(star)"
    (keydown.space)="onSelect(star)"
  >&#9733;</span>

  <span class="rating-label" *ngIf="showLabel">
    {{ displayRating | number: '1.1-1' }}
    <ng-container *ngIf="reviewCount !== undefined">
      &nbsp;({{ reviewCount }} {{ reviewCount === 1 ? 'review' : 'reviews' }})
    </ng-container>
  </span>
</div>
