@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Playfair+Display:ital,wght@0,700;0,900;1,700&display=swap');
:root {
  --primary: #d1c2e9;
  --secondary: rgb(81, 41, 126);
  --accent: #bc92bd;
  --text: #333333;
  --white: rgba(255, 255, 255, 0.32);
  --hover: rgba(128, 81, 185, 0.66);
  --border-color: rgba(201, 199, 199, 0.45);

  --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
  --reverse-gradient: linear-gradient(135deg, var(--secondary), var(--primary));
  --shadow: 0 8px 30px rgba(138, 79, 255, 0.15);
  --shadow-hover: 0 15px 40px rgba(138, 79, 255, 0.25);
  --radius: 16px;
  --transition: 0.01s ease-in-out;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family:'Montserrat', sans-serif;
  background-color: var(--white);
  color: var(--text);
  line-height: 1.6;
  overflow-x: hidden;
}

h1, h2, h3{
  font-family: 'Playfair Display', serif;
}


.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.cdk-overlay-pane .mobile-menu {
  background-color: #fff !important;
  border-radius: 8px;
  min-width: 200px;
}

.cdk-overlay-pane .mobile-menu .mat-menu-item {
  color: #333 !important;
  font-weight: bold;
}

::ng-deep .cdk-overlay-pane .mobile-menu .mat-menu-item:hover {
  background-color: #f0f0f0 !important;
}
